<h1>Directory of Student Pages</h1>

<ul>
</ul>


<ul>
  <li><%= link_to 'lawrence_j_2001', lawrence_j_2001_path %></li>
   <li><%= link_to 'wells7621', wells7621_path %></li>
   <li><%= link_to 'jeffnotjeffery', jeffnotjeffery_path %></li>  
   <li><%= link_to 'riyaad1', riyaad1_path %></li>


</ul>
