
<h1>ANGEL WELLS</h1>

  <h3>About Me</h3>

    <p>Hi! My name is Angel. I'm a graduating senior at the University of Memphis looking forward to learning more about web development and hopefully securing a career down that path. I am currently expanding my skills in UI/UX design along with front-end development.</p>
  <hr>


